main.page
  //- 1-й экран
  section.page__submission.submission
    .submission__background.bg-block
      .submission__container 
        .submission__breadcrumps
          a.submission__link(href="https://daniilsintsov.github.io/portfolio/OkeyPost/") Главная
          |  / 
          a.submission__link(href="blog.html") Блог
        h1.submission__title Блог

  //- 2-й экран
  section.page__blog.blog
    .blog__container 
      .blog__articles.articles-blog 
        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/01.png", alt="Интернет-магазин Urban Outfitters в UK: обзор")
          .articles-blog__description 
            a.articles-blog__title(href='#') Интернет-магазин Urban Outfitters в UK: обзор
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/02.png", alt="Overstock. Брендовые товары по доступным ценам")
          .articles-blog__description 
            a.articles-blog__title(href='#') Overstock. Брендовые товары по доступным ценам
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/03.png", alt="Skechers с Amazon. Удобная обувь для всей семьи")
          .articles-blog__description 
            a.articles-blog__title(href='#') Skechers с Amazon. Удобная обувь для всей семьи
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/04.png", alt="16 лучших подарков с Амазона в 2021 году")
          .articles-blog__description 
            a.articles-blog__title(href='#') 16 лучших подарков с Амазона в 2021 году
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/05.png", alt="Target — семейный супермаркет с ценами от 300 рублей!")
          .articles-blog__description 
            a.articles-blog__title(href='#') Target — семейный супермаркет с ценами от 300 рублей!
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/06.png", alt="Английский магазин RIPNDIP. Покупаем самовыражение")
          .articles-blog__description 
            a.articles-blog__title(href='#') Английский магазин RIPNDIP. Покупаем самовыражение
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/07.png", alt="Nautica. Элитные товары из Англии по низким ценам")
          .articles-blog__description 
            a.articles-blog__title(href='#') Nautica. Элитные товары из Англии по низким ценам
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/08.png", alt="Forever 21 - покупаем джинсы за 1 500 рублей")
          .articles-blog__description 
            a.articles-blog__title(href='#') Forever 21 - покупаем джинсы за 1 500 рублей
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/09.png", alt="Как купить кроссовки Balenciaga на 30 000 рублей дешевле?")
          .articles-blog__description 
            a.articles-blog__title(href='#') Как купить кроссовки Balenciaga на 30 000 рублей дешевле?
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/10.png", alt="Топ-7 самых дорогих сумок Louis Vuitton")
          .articles-blog__description 
            a.articles-blog__title(href='#') Топ-7 самых дорогих сумок Louis Vuitton
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/11.png", alt="BH Cosmetics Galaxy. Галактика красоты и ухода")
          .articles-blog__description 
            a.articles-blog__title(href='#') BH Cosmetics Galaxy. Галактика красоты и ухода
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

        .articles-blog__item 
          .articles-blog__img 
            img(src="img/articles-blog/12.png", alt="“Вансы”. Крутые кеды, которые не выйдут из моды никогда!")
          .articles-blog__description 
            a.articles-blog__title(href='#') “Вансы”. Крутые кеды, которые не выйдут из моды никогда!
            .articles-blog__info 
              span.articles-blog__date-info 22.10.2021
              span.articles-blog__time-info._icon-clock Читать: 8 минут

      //- include pagging
      include pagging.html

  //- 3-й экран
  section.page__socials.socials
    .socials__background.bg-block
      .socials__container
        a.socials__title(href='#') Остались вопросы? Спросите нас в соцсетях!
        .socials__icons-block
          a.socials__icon._icon-whatsapp(href='#' target='_blank')
          a.socials__icon._icon-viber(href='#' target='_blank')
          a.socials__icon._icon-chat(href='#' target='_blank')