main.page
  //- 1-й экран
  section.page__submission.submission
    .submission__background.bg-block
      .submission__container 
        .submission__breadcrumps
          a.submission__link(href="https://daniilsintsov.github.io/portfolio/OkeyPost/") Главная
          |  / 
          a.submission__link(href="bonuses.html") Бонусы и партнёрская программа
        h1.submission__title Бонусы и партнёрская программа
        p.submission__text Платим $3 с каждой отправленной посылки
        a.submission__button.button(href="#") Начать зарабатывать

  //- 2-й экран
  section.page__bonuses.bonuses
    .bonuses__container 
      h2.bonuses__title.title Зарабатывать с нами — проще простого:
      .bonuses__block-bonuses
        .bonuses__bonus
          .bonuses__img-bonus
            img(src="img/bonuses/01.png", alt="Дарим скидку 10% вашим друзьям и подписчикам")
          h3.bonuses__title-bonus Дарим скидку 10% вашим друзьям и подписчикам
          p.bonuses__text-bonus На их первую отправленную посылку. Вам есть чем мотивировать зарегистрироваться именно по вашему реферальному коду или ссылке.

        .bonuses__bonus
          .bonuses__img-bonus
            img(src="img/bonuses/02.png", alt="Платим по £3 за отправленную посылку")
          h3.bonuses__title-bonus Платим по £3 за отправленную посылку
          p.bonuses__text-bonus Когда клиент, привлеченный по вашей ссылке, отправляет посылку – на ваш счет поступает $3. Вы можете оплачивать этими деньгами ваши посылки или выводить их себе на счет.

        .bonuses__bonus
          .bonuses__img-bonus
            img(src="img/bonuses/03.png", alt="Промо на любой вкус")
          h3.bonuses__title-bonus Промо на любой вкус
          p.bonuses__text-bonus Автоматические или персональные реферальные коды для отправки друзьям или подписчикам в мессенджеры или социальные сети, а также реферальные ссылки и баннеры для ваших сайтов.

        .bonuses__bonus
          .bonuses__img-bonus
            img(src="img/bonuses/04.png", alt="Выплаты по запросу")
          h3.bonuses__title-bonus Выплаты по запросу
          p.bonuses__text-bonus Платим по первому вашему требованию без задержек и других сложностей. Если на счету менее $50 – вы можете тратить их на оплату товаров или доставки. Если больше – выводить на свой счет.

        .bonuses__bonus
          .bonuses__img-bonus
            img(src="img/bonuses/05.png", alt="Начисляем кэшбэк £1 на 1 посылку")
          h3.bonuses__title-bonus Начисляем кэшбэк £1 на 1 посылку
          p.bonuses__text-bonus За каждую отправленную посылку , возможность оплатить после бонусного счета в 10 фунтов 

  //- 3-й экран
  section.page__try.page__try_page_bonuses.try 
    .try__background.bg-block
      .try__container
        .try__image 
          img(src="img/bonuses.png", alt="OkeyPost try")
        .try__text.text-try
          h3.text-try__title Готовы начать зарабатывать вместе с нами?
          p.text-try__text.text-light Присоединяйтесь к партнерской программе Okeypost.com уже сегодня!
          div 
            a.text-try__link.button(href="#") Присоедениться
