main.page
  //- 1-й экран
  section.page__submission.submission
    .submission__background.bg-block
      .submission__container 
        .submission__breadcrumps
          a.submission__link(href="https://daniilsintsov.github.io/portfolio/OkeyPost/") Главная
          |  / 
          a.submission__link(href="buy.html") Как покупать
        h1.submission__title Научим покупать в Великобритании!
        p.submission__text и экономить до 70%
        a.submission__button.button(href="#") Получить адрес в UK

  //- 2-й экран
  section.page__purchase-steps.purchase-steps
    .purchase-steps__container
      h2.purchase-steps__title.title Покупать в Великобритании очень просто
      p.purchase-steps__text.text-light Английские магазины не доставляют в Россию, но это не проблема. С OkeyPost можно покупать по лучшим ценам и экономить на доставке. Мы получим ваши посылки, надежно упакуем и отправим их к вам домой.

      .purchase-steps__step.step-purchase
        .step-purchase__img
          img(src="img/step-purchase/01.png", alt="Получаем адрес для покупок в магазинах Великобритании")
        .step-purchase__text-block 
          .step-purchase__title-block 
            .step-purchase__number 01
            h3.step-purchase__title Получаем адрес для покупок <br> в магазинах Великобритании 
          p.step-purchase__text Okeypost поможет притвориться американцем и не переплачивать. Для этого нужно зарегистрироваться в нашем сервисе. После регистрации вам станут доступны два адреса в Англии, которые вы сможете указывать при оформлении заказов в интернет-магазинах.

      .purchase-steps__step.step-purchase
        .step-purchase__img
          img(src="img/step-purchase/02.png", alt="Идём за покупками в онлайн-магазины")
        .step-purchase__text-block 
          .step-purchase__title-block 
            .step-purchase__number 02
            h3.step-purchase__title Идём за покупками в <br> онлайн-магазины
          p.step-purchase__text Выбираем нужные товары в магазинах Англии. Расплачиваемся, как обычно, в качестве адреса доставки указываем координаты одного из складов Okeypost. Оформить покупки можно самостоятельно или с нашей помощью. Вот список того, <a href="#" class="step-purchase__text step-purchase__text_green">что покупать нельзя</a>.

      .purchase-steps__step.step-purchase
        .step-purchase__img
          img(src="img/step-purchase/03.png", alt="Следим за перемещением посылки до склада")
        .step-purchase__text-block 
          .step-purchase__title-block 
            .step-purchase__number 03
            h3.step-purchase__title Следим за перемещением <br> посылки до склада
          p.step-purchase__text После оформление заказа магазин пришлет трек-номер посылки на ваш e-mail и отправит вещи на наш склад. Через 5-7 дней покупки придут к нам, мы поместим их в специальное хранилище, закрепленное за вашим аккаунтом.

      .purchase-steps__step.step-purchase
        .step-purchase__img
          img(src="img/step-purchase/04.png", alt="Оплачиваем доставку и покупки отправляются домой")
        .step-purchase__text-block 
          .step-purchase__title-block 
            .step-purchase__number 04
            h3.step-purchase__title Оплачиваем доставку и покупки <br> отправляются домой
          p.step-purchase__text Мы сообщим, когда ваши покупки поступят на склад. Вы сможете заказать что-то еще в других магазинах и отправить все одной посылкой (так выгоднее). До 30 дней покупки будут храниться бесплатно. <br> Когда все товары поступили на склад, выбирайте способ доставки, мы надежно все упакуем и отправим вам, сообщив трек-номер.

      .purchase-steps__step.step-purchase
        .step-purchase__img
          img(src="img/step-purchase/05.png", alt="Получаем посылку и спешим сделать новый заказ")
        .step-purchase__text-block 
          .step-purchase__title-block 
            .step-purchase__number 05
            h3.step-purchase__title Получаем посылку и спешим <br> сделать новый заказ
          p.step-purchase__text Примерно через 2 недели посылка приедет к вам домой, в пункт выдачи заказов или на почту. Получаем покупки и радуемся :)

      a.purchase-steps__button.button(href="#") Получить адрес в UK

  //- 3-й экран
  section.page__socials.socials 
    .socials__background.bg-block
      .socials__container 
        h3.socials__title Остались вопросы? Спросите нас в соцсетях!
        .socials__icons-block
          a.socials__icon._icon-whatsapp(href='#' target='_blank')
          a.socials__icon._icon-viber(href='#' target='_blank')
          a.socials__icon._icon-chat(href='#' target='_blank')
