main.page
  //- 1-й экран
  section.page__submission.submission
    .submission__background.bg-block
      .submission__container
        .submission__breadcrumps
          a.submission__link(href="https://daniilsintsov.github.io/portfolio/OkeyPost/") Главная
          |  / 
          a.submission__link(href="sales.html") Распродажи
        h1.submission__title Распродажи
        p.submission__text ранний доступ к распродажам в магазинах
        a.submission__button.button(href="#") Получить адрес в UK

  //- 2-й экран
  section.page__catalog.catalog
    .catalog__container
      .catalog__title.title Black Friday Early Access ранний доступ к распродажам в магазинах Великобритании!
      .catalog__products.products-catalog
        //- Abercrombie & Fitch
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/01.png", alt="Abercrombie & Fitch")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title Abercrombie & Fitch
              p.products-catalog__text цены от <span class="products-catalog__text products-catalog__text_bold">£7.99 (3365₽)</span> разделе: <br>мужские вещи: <span class="products-catalog__text products-catalog__text_bold products-catalog__text_green">CLEARANCE</span><br>женские вещи: <span class="products-catalog__text products-catalog__text_bold products-catalog__text_green">CLEARANCE</span>
              p.products-catalog__text качественные детские вещи на <span class="products-catalog__text products-catalog__text_bold products-catalog__text_green">Abercrombie kids</span>
            a.products-catalog__link(href="#") Только выкуп с оператором →

        //- Timberland
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/02.png", alt="Timberland")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title Timberland
              p.products-catalog__text <span class="products-catalog__text products-catalog__text_bold">NEW</span><br>Коллаб <span class="products-catalog__text products-catalog__text_bold products-catalog__text_green">Tommy Hilfiger x Timberland!</span>
              p.products-catalog__text Ботинки от <span class="products-catalog__text products-catalog__text_bold">£7.99 (3365₽)</span><br>Зимние шапки за <span class="products-catalog__text products-catalog__text_bold">£7.99 (3365₽)</span>
            a.products-catalog__link(href="#") Только выкуп с оператором →

        //- Polo Ralph Lauren
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/03.png", alt="Polo Ralph Lauren")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title Polo Ralph Lauren
              p.products-catalog__text <span class="products-catalog__text_bold products-catalog__text_green">Рубашка</span> за <span class="products-catalog__text_bold">£7.99 (3365₽)</span><br><span class="products-catalog__text_bold products-catalog__text_green">Худи</span> за <span class="products-catalog__text_bold">£7.99 (3365₽)</span><br><span class="products-catalog__text_bold products-catalog__text_green">Свитшот</span> с лого за <span class="products-catalog__text_bold">£7.99 (3365₽)</span>
              p.products-catalog__text До <span class="products-catalog__text_bold">- 40%</span> в разделе SALE
            a.products-catalog__link(href="#") Только выкуп с оператором →

        //- Hollister Co.
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/04.png", alt="Hollister Co.")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title Hollister Co.
              p.products-catalog__text цены от <span class="products-catalog__text products-catalog__text_bold">£7.99 (3365₽)</span> разделе: <br>мужские вещи: <span class="products-catalog__text products-catalog__text_bold products-catalog__text_green">CLEARANCE</span><br>женские вещи: <span class="products-catalog__text products-catalog__text_bold products-catalog__text_green">CLEARANCE</span>
            a.products-catalog__link(href="#") Только выкуп с оператором →

        //- Michael Kors
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/05.png", alt="Michael Kors")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title Michael Kors
              p.products-catalog__text <span class="products-catalog__text products-catalog__text_bold">Новая коллекция<br>Michael Kors x 007 (James Bond)</span>
              p.products-catalog__text
                span.products-catalog__text.products-catalog__text_bold HOLIDAY HEAD START
              p.products-catalog__text
                span.products-catalog__text.products-catalog__text_bold - 60%
                |  на сумки, обувь и одежду
            a.products-catalog__link(href="#") Только выкуп с оператором →

        //- Аутлет Saks OFF 5TH
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/06.png", alt="Аутлет Saks OFF 5TH")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title Аутлет Saks OFF 5TH
              p.products-catalog__text
                span.products-catalog__text.products-catalog__text_bold Black Friday Early Access
                |  Брендовые шапки, шарфы и перчатки
                span.products-catalog__text.products-catalog__text_bold - 60% OFF
              p.products-catalog__text Shop Pajar, Sorel, UGG, Calvin Klein Jeans, Tommy Hilfiger
            a.products-catalog__link(href="#") Только выкуп с оператором →

        //- Victoria's Secret
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/07.png", alt="Victoria's Secret")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title Victoria's Secret
              p.products-catalog__text
                span.products-catalog__text.products-catalog__text_bold Лосьоны и мисты за £7.99 (3365₽)
                br
                span.products-catalog__text.products-catalog__text_bold 7 трусиков за £7.99 (3365₽)
                br
                | Халаты за
                span.products-catalog__text.products-catalog__text_bold  £7.99 (3365₽)
              p.products-catalog__text
                span.products-catalog__text.products-catalog__text_bold Потрать £7.99 (3365₽)
                |  - получи
                span.products-catalog__text.products-catalog__text_bold  купон на $25
                |  на следующий заказ
            a.products-catalog__link(href="#") Только выкуп с оператором →

        //- levi.com
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/08.png", alt="levi.com")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title levi.com
              p.products-catalog__text
                span.products-catalog__text.products-catalog__text_bold.products-catalog__text_green Джинсы
                |  от
                span.products-catalog__text.products-catalog__text_bold  £7.99 (3365₽)
              p.products-catalog__text
                span.products-catalog__text.products-catalog__text_bold Скидка 30% на заказы от $100 с кодом TREAT30
            a.products-catalog__link(href="#") Только выкуп с оператором →

        //- UGG® - вход с VPN
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/09.png", alt="UGG® - вход с VPN")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title UGG® - вход с VPN
              p.products-catalog__text
                | Угги за
                span.products-catalog__text_bold  £7.99 (3365₽)
                br
                | Ботинки UGG от
                span.products-catalog__text_bold  £7.99 (3365₽)
                br
                | в разделе
                span.products-catalog__text_bold.products-catalog__text_green  SALE
              p.products-catalog__text
                span.products-catalog__text_bold.products-catalog__text_green Мужские угги
                |  за
                span.products-catalog__text_bold  £7.99 (3365₽)
                br
                span.products-catalog__text_bold.products-catalog__text_green Слипперы
                |  за
                span.products-catalog__text_bold  £7.99 (3365₽)
            a.products-catalog__link(href="#") Только выкуп с оператором →

        //- New Balance
        .products-catalog__item
          .products-catalog__img
            img(src="img/products-catalog/10.png", alt="New Balance")
          .products-catalog__description
            .products-catalog__text-block
              h3.products-catalog__title New Balance
              p.products-catalog__text
                span.products-catalog__text_bold Вход с VPN
                  br
                  | - 30%
                |  на некоторые модели
                br
                span.products-catalog__text_bold Бесплатная
                |  доставка
                span.products-catalog__text_bold  $50+
            a.products-catalog__link(href="#") Только выкуп с оператором →

      //- include pagging
      include pagging.html
  //- 3-й экран
  section.page__socials.socials
    .socials__background.bg-block
      .socials__container
        h3.socials__title Остались вопросы? Спросите нас в соцсетях!
        .socials__icons-block
          a.socials__icon._icon-whatsapp(href='#' target='_blank')
          a.socials__icon._icon-viber(href='#' target='_blank')
          a.socials__icon._icon-chat(href='#' target='_blank')
