<!DOCTYPE html>
<html lang="ru">
-
  var title = 'Часто задаваемые вопросы - OkeyPost'
  var descr = 'Description'
  var is_not_main_page = true

include html/head.pug
<body>
<div class="wrapper">
include html/header.pug
include html/_questions-main.pug
include html/footer.pug
</div>
include html/popup.html
include html/js.html
</body>
</html>
